@CHARSET "UTF-8";
a:visited{color:blue; text-decoration:none;}
a:hover  {color:red;  text-decoration:none;}
a:active {text-decoration:none;}
a:link   {text-decoration:none;}

.goto_top:hover{
	color:black;
	background:#cccccc;	
}
.goto_top{
	display:none;
    position: fixed;
    border-radius: 50px;
    right: 20px;
    bottom: 30px;
    padding: 10px 16px;
    font-size: 25px;
    background: gray;
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;	
    font-family:微軟正黑體;
}

.mouse_hover:hover{
    background-color:#cccccc;
}
.border_01
{
    margin: 1%;
    padding: 1%;;
    border:solid 1px #cccccc;
}

btn_space{
    padding:0.2%;
}
select{
    cursor: pointer;
    margin:0.01%;
}
div,input,textarea,select{
    cursor: pointer;
}

